### import packages

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import keras

In [3]:
data = pd.read_csv('/Users/hwangjaeyeong/Downloads/logistic_regression_ex/ex2data1.txt')

In [5]:
data

    34.62365962451697  78.0246928153624  0
0           30.286711         43.894998  0
1           35.847409         72.902198  0
2           60.182599         86.308552  1
3           79.032736         75.344376  1
4           45.083277         56.316372  0
..                ...               ... ..
94          83.489163         48.380286  1
95          42.261701         87.103851  1
96          99.315009         68.775409  1
97          55.340018         64.931938  1
98          74.775893         89.529813  1

[99 rows x 3 columns]